<footer class="text-center bg-body-tertiary mt-4 fixed-bottom">
  <div class="container-fluid">
    <section class="">
      <!-- Youtube -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="Youtube: @VividRem"
        href="https://www.youtube.com/@VividRem"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <i class="fab fa-youtube"></i>
      </a>

      <!-- Bluesky -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="Bluesky: vividrem.bsky.social"
        href="https://bsky.app/profile/vividrem.bsky.social"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-bluesky"></i
      ></a>

      <!-- X -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="X: @VividRemGame"
        href="https://x.com/VividRemGame"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <i class="fab fa-x-twitter"></i>
      </a>

      <!-- Itch.io -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="Itch.io: vividrem"
        href="https://vividrem.itch.io/"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <i class="fa-brands fa-itch-io"></i>
      </a>

      <!-- Discord 
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="Discord: VividRemGame"
        href="https://x.com/VividRemGame"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <i class="fa-brands fa-discord"></i>
      </a>
      -->

      <!-- E-Mail -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        title="Email: spillmodus@gmail.com"
        href="mailto:spillmodus@gmail.com"
        role="button"
        data-mdb-ripple-color="dark"
      >
        <i class="fa-solid fa-at"></i>
      </a>
    </section>

    <!-- Copyright -->
    <div class="text-center p-1">
      © 2025 Copyright:
      <a class="text-body" href="http://vividrem.com/">Vivid REM</a>
    </div>
  </div>
</footer>
